[Unit]
Description=Keycloak
After=network.target

[Service]
Type=idle
User={{ spad_keycloak_user }}
Group={{ spad_keycloak_group }}
ExecStart={{ spad_keycloak_home }}/current/bin/standalone.sh -Djboss.bind.address=0.0.0.0 -Djboss.bind.address.management=0.0.0.0   -Dkeycloak.migration.action=import  -Dkeycloak.migration.provider=singleFile -Dkeycloak.migration.file={{ spad_keycloak_export_file }}  -Dkeycloak.migration.strategy=OVERWRITE_EXISTING

TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
